.navbar {
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: none;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: rgba(20, 20, 30, 0.8);
    width: 20rem;
    height: 93vh;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: -100%;
    transition: 850ms;
    z-index: 2;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

nav-text a {
    text-decoration: none;
    color: red;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: orange;
}

.nav.menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* NOTE: This rule affected text alignment in buttons
span {
    margin-left: 16px;
}
*/

.nav-menu.active::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(11, 12, 15, 0.5);
}

.nav-menu.active::-webkit-scrollbar-thumb {
    background-color: #ff5000;
    border: 2px solid #0b0c0f;
}

/* changes scrollbar thumb color to aqual when global state 'personalized' is true */
.nav-menu.personalized {
    left: 0;
    transition: 350ms;
}

.nav-menu.personalized::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(11, 12, 15, 0.5);
}

.nav-menu.personalized::-webkit-scrollbar-thumb {
    background-color: #1de9b6;
    border: 2px solid #0b0c0f;
}
